<div class="container" #container>
    <!-- <div class = 'task'>one task</div> -->
    <div class ='task' *ngFor="let item of arrTask$ | async; let i = index">
        <input value ={{item}} (keyup.u)='edit(i, val.value)' #val>
            <button (click)='deleteTask(i)'>x</button>
            <button (click)='edit(i, val.value)'>&#10003;</button>
            </div>
</div>
<input type="text" placeholder="new task" [(ngModel)] = 'textNewTask' (keyup.enter)='add()'>
<button (click)='add()'>add new task</button>
<button (click)= 'clear()'>clear</button>
