<div class="container" #container>
    <!-- <div class = 'task'>one task</div> -->
    <div class ='task' *ngFor="let item of arrTask$ | async; let i = index">
        <input value ={{item}} (keyup.u)='edit(i, val.value)' #tasktext>

        <input #but_1 type="radio" name="execution_client{{i}}" id="not_performed_client{{i}}" value="not_performed"  [attr.checked]="(execuion$ | async)[i] == 'not_performed'? '' : null ">
        <label for="not_performed_client">Not Performed</label>
    
        <input #but_2 type="radio" name="execution_client{{i}}" id="doing_client{{i}}" value="doing"   [attr.checked]="(execuion$ | async)[i] == 'doing' ? '' : null" >
        <label for="doing_client">Doing</label>
    
        <input #but_3 type="radio" name="execution_client{{i}}" id="done_client{{i}}" value="done"  [attr.checked]="(execuion$ | async)[i] == 'done' ? '' : null" >
        <label for="done_client">Done</label>

            <button (click)='deleteTask(i)'>x</button>
            <button (click)='edit(i, tasktext.value, but_1.checked, but_2.checked, but_3.checked)'>&#10003;</button>
            </div>
</div>
<input type="text" placeholder="new task" [(ngModel)] = 'textNewTask' (keyup.enter)='add()'>
<div class="execution">

    <input [(ngModel)] = 'execuionClient' type="radio" name="execution" id="not_performed" value="not_performed">
    <label for="not_performed">Not Performed</label>

    <input [(ngModel)] = 'execuionClient' type="radio" name="execution" id="doing" value="doing">
    <label for="doing">Doing</label>

    <input [(ngModel)] = 'execuionClient' type="radio" name="execution" id="done" value="done">
    <label for="done">Done</label>
    
</div>
<button (click)='add()'>add new task</button>
<button (click)= 'clear()'>clear</button>
